@import "../mocha.css";

* {
    font-size: 20px;
    font-family: "JetBrainsMonoNL NF";
}

#workspaces * {
    font-family: "JetBrainsMonoNL NFM";
}


#custom-notification {
    font-family: "JetBrainsMonoNL NFM";
}