@mixin rounding {
  border-radius: 12px;
}

.themes {
  margin-right: 1rem;
}
.small {
  font-size: 8px
}

@import "color";
@import "bar/style";

* {
  all: unset;
  transition: 100ms ease;
  font-family: JetBrainsMono NF
}
