@mixin rounding {
  border-radius: 12px;
}

.themes {
  margin-right: 1rem;
}
.small {
  font-size: 8px
}

@import "color";
@import "bar/style";

* {
  all: unset;
  transition: 100ms ease;
}

.popup, tooltip {
  @include rounding;
  background: $bg;
  border: $blue5 2px solid;
  menu {
    padding: 8px;
    menuitem {
      padding: 4px 8px;
      margin: 3px 0px;
      border-radius: 8px;
      background: $bg_sidebar;
    }
  }
}

tooltip {
  margin-top: 4px;

  & > * {
    font-size: 14px;
    padding: 4px 8px;
  }
}
